:root {
    /* CSS HEX */
--celestial-blue: #1990D1ff;
--antiflash-white: rgb(255, 255, 255);
--walnut-brown: #686355ff;
--celestial-blue-2: #1B93D4ff;
--antiflash-white-2: rgba(226, 232, 240, 1);
--crazy-orange:  rgba(240, 180, 40, 1);
}



/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
    /* border: 1px dashed orange; */
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* layout proprierties */

.container {
    /* height: 100vh;
    width: 100vw; */
    display: grid;
    grid-template-columns: 1fr 4fr;

    grid-template-rows: auto 1fr; 
    height: 100vh;
}

.sidebar {
    grid-row: 1/4;
    /* padding: 1.2em; */
    background-color: var(--celestial-blue);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1em;

    color: white;
    font-weight: 600;
    font-size: 1em;
    
}

.header {
    background-color: var(--antiflash-white);
    padding: 1em;
    box-shadow: 1px 3px 5px rgb(202, 202, 202);

}

.main-content {
    padding: 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%;
}

.top-header {
    display:flex;
    justify-content: space-between;
    padding: 10px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.bottom-header-left {
    display: flex;
}

/* other proprierties */

.card {
    border-radius: 6px;
    background-color: var(--antiflash-white);
    padding: 1.5em;
    font-size: 0.8em;
    box-shadow: 1px 3px 5px rgb(202, 202, 202);
}
body {
    background-color: var(--antiflash-white-2);
    font-family:  Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 1em;
}

.sidebar ul {
    /* border: 1px solid red; */
    list-style-type: none;
    margin: 0;
    padding: 1.2em;

}



.dummy-img {
    background-color: red;
    width: 50px;
    height: 50px;
}


.announces .card > div {
    margin: 2em;
    font-size: 0.7em;
    border-bottom: 1px solid gray;
} 
.announces > .card {
    padding: 0.01px; 
    background-color: var(--antiflash-white);

}

.projects > .card {
    /* border-left: 3px solid (226, 232, 240, 1); */
    border-left: 6px solid var(--crazy-orange);
}


.sidebar h1:first-child img{
    height: 2.2em;
    vertical-align:middle;
}
.sidebar h1 {
    font-size: 1.3em;
    padding: 0.8rem;
    display: flex;
    align-items: center;
}
.sidebar img {
    margin-right: 0.6rem;
    filter: invert(1);
}

.sidebar li {
    margin-bottom: 1em;
    display: flex;
}

input[type="search"] {
    border-radius: 20px;
    background-color: var(--antiflash-white-2);
    border: 0;
    margin-left: 1em;
    width: 100%;

}

.top-header div:first-child {
    display: flex;
    width: 60%;
}
img { 
    height: 1.2em;

}
.header img, .right-bar img{
    object-fit: cover; /* Mantém a proporção e corta o excesso */
    object-position: center;
    border-radius: 100%;
    height: 2rem;
    vertical-align: text-bottom;
}
.trending {
    margin-top: 1em;
}

.trending .card {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.trending-row {
    display: flex;
    font-size: 0.7em;
    padding: 0.5em;
}

.trending-row img {
    margin-right: 1.5em;
}
.right-header {
    display: flex;
}

.right-header > * {
    margin-left: 1.5em;
}

.profile-greet {
    font-size: 0.8em;
    font-weight: 700;
}

.profile-greet > p:nth-child(2) {
    font-size: 1.8em;
}

.bottom-header-left img {
    height: 4em;
}

.bottom-header {
    padding: 0.5em;
}

.main-content > div:first-child {
    height: 100%;
}

.right-bar{
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 2em;
    background-color: var(--celestial-blue);
    color: white;
    border: none;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 0.8em;
    font-weight: 600;
    margin-left: 1em;

}